body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: green;
}

li {
  list-style: none;
}
.selected { 
  font-weight: bold;
  background-color: yellow;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #666;
}
td {
  border: 1px solid #666;
  padding: 1em;
}
tr {
  border: 1px solid #666;
}

.three-column {
  display: grid;
  grid-template-columns: auto auto auto;
}
